DeferidorWeb/App_WebReferences/WsRFB/ServiceReginRFB.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s1="http://servicos.integrador.serpro.gov.br/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s2="http://servicos.integrador.serpro.gov.br" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://servicos.integrador.serpro.gov.br/" />
      <s:import namespace="http://servicos.integrador.serpro.gov.br" />
      <s:element name="ServiceWs01">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DadosEntrada" type="tns:DadosViabilidade" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DadosViabilidade">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="nireMatriz" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nire" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="areaEstabelecimento" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="areaImovel" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="bairro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cep" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cnaePrincipal" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cnaeSecundaria" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="cnpj" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CNPJMatriz" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cnpjFilial" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="codEventosViabilidade" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="codMunicipio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="codStatusViabilidade" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="codTipoLogradouro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="complementoLogradouroRFB" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="complementoLogradouro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cpfSocioPf" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="nomeSocioPf" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="dataFimAnaliseViabilidadeEndereco" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dataFimAnaliseViabilidadeNome" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dataInicioAnaliseViabilidade" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dataValidadeViabilidade" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="distrito" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="formaAtuacaoStr" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="formaAtuacao" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="inscricaoImovel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="logradouro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="naturezaJuridica" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nomeEmpresarial" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="numLogradouro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="objetoSocial" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="protocoloViabilidade" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="referencia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="resultadoViabilidadeEndereco" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="resultadoViabilidadeNome" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tipoInscricao" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tipoOrgaoRegistro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tipoUnidade" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="uf" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ServiceWs01Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ServiceWs01Result" type="tns:RetornoS01" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RetornoS01">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Cnpj" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nire" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="status" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="codretorno" type="tns:ArrayOfIncompRegistroIntegradorEstadual" />
          <s:element minOccurs="0" maxOccurs="1" name="descricao" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfIncompRegistroIntegradorEstadual">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="incompRegistroIntegradorEstadual" nillable="true" type="tns:incompRegistroIntegradorEstadual" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="incompRegistroIntegradorEstadual">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="codigo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mensagem" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ServiceWs02">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DadosEntrada" type="tns:DadosViabilidade" />
            <s:element minOccurs="0" maxOccurs="1" name="codStatusAtual" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ServiceWs02Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ServiceWs02Result" type="tns:RetornoS01" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcessaEnviaViabilidadeMudancaStatusRFB">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NroViabilidade" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcessaEnviaViabilidadeMudancaStatusRFBResponse">
        <s:complexType />
      </s:element>
      <s:element name="EnviaWsReceitaFederalServico02">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pProtocolo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dsTabelas">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnviaWsReceitaFederalServico02Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EnviaWsReceitaFederalServico02Result" type="tns:RetornoS01" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcessaEnviaViabilidadeRFB">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NroViabilidade" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcessaEnviaViabilidadeRFBResponse">
        <s:complexType />
      </s:element>
      <s:element name="EnviaWsReceitaFederal">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pProtocolo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dsTabelas">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnviaWsReceitaFederalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EnviaWsReceitaFederalResult" type="tns:RetornoS01" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ServiceXMLDBE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Identificacao" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Recibo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ServiceXMLDBEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ServiceXMLDBEResult" type="tns:Retorno" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Retorno">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Cnpj" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nire" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="regisroDiferente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XmlDBE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="status" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="codretorno" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="descricao" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="oCPFResponse" type="s1:consultaCPFResponse" />
          <s:element minOccurs="0" maxOccurs="1" name="oWs35Response" type="s2:serviceResponse" />
          <s:element minOccurs="0" maxOccurs="1" name="oCNPJResponse" type="s1:retornoWS11Redesim" />
        </s:sequence>
      </s:complexType>
      <s:element name="ServiceWs35Soarquivo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Identificacao" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Recibo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ServiceWs35SoarquivoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ServiceWs35SoarquivoResult" type="tns:Retorno" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ServiceWs35Regin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Identificacao" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Recibo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ServiceWs35ReginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ServiceWs35ReginResult" type="tns:Retorno" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ServiceWs35">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Identificacao" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Recibo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ResponseRFB" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ServiceWs35Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ServiceWs35Result" type="tns:Retorno" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ServiceWs05">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Identificacao" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Recibo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cpfRecepcionador" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ServiceWs05Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ServiceWs05Result" type="tns:Retorno" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ServiceWs05V2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Identificacao" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Recibo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cpfRecepcionador" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="numeroServentia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cnpjOrgaoRegistro" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ServiceWs05V2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ServiceWs05V2Result" type="tns:Retorno" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ServiceWs06">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dados" type="tns:DadosWs06" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DadosWs06">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="numeroServentia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="resultadoRegistroIntegradorEstadual" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="numeroNire246" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="identificacaoSolicitacao" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="reciboSolicitacao" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="nomeEmpresarial" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="numeroNire" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="numeroRegistroCartorio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dataRegistro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cpfResponsavelDeferimento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="incompRegistroIntegradorEstadual" type="tns:ArrayOfIncompRegistroIntegradorEstadual" />
        </s:sequence>
      </s:complexType>
      <s:element name="ServiceWs06Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ServiceWs06Result" type="tns:Retorno" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ServiceWs09">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cpf" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ServiceWs09Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ServiceWs09Result" type="tns:Retorno" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ServiceWs11">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cnpj" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ServiceWs11Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ServiceWs11Result" type="tns:Retorno" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CompletaWs11">
        <s:complexType />
      </s:element>
      <s:element name="CompletaWs11Response">
        <s:complexType />
      </s:element>
      <s:element name="CompletaDadosRegin">
        <s:complexType />
      </s:element>
      <s:element name="CompletaDadosReginResponse">
        <s:complexType />
      </s:element>
      <s:element name="CompletaDadosReginOracle">
        <s:complexType />
      </s:element>
      <s:element name="CompletaDadosReginOracleResponse">
        <s:complexType />
      </s:element>
      <s:element name="CompletaGravaDadosWs11Oracle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pProtocolo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pCNPJ" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pDbe" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dsTabelas">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CompletaGravaDadosWs11OracleResponse">
        <s:complexType />
      </s:element>
      <s:element name="ProcessaDadosServico99">
        <s:complexType />
      </s:element>
      <s:element name="ProcessaDadosServico99Response">
        <s:complexType />
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://servicos.integrador.serpro.gov.br/">
      <s:complexType name="consultaCPFResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="retornoWSRedesim" type="s1:retornoWSRedesim" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="retornoWS09Redesim" type="s1:retornoWS09Redesim" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="retornoWSRedesim">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="statusEnvio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="codigoRetorno" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="descricaoRetorno" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="retornoWS09Redesim">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="codServico" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="versao" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="numeroProtocolo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="numeroOcorrencia" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="codEvento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="reciboSolicitacao" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="identificacaoSolicitacao" type="s:string" />
          <s:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="dadosCPF" type="s1:dadosCPF" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="dadosCPF">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="numCPF" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="nome" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="dataNascimento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="sexo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="residenteExterior" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="situacaoCadastral" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="endereco" type="s1:endereco09" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="nacionalidade" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="nomeMae" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="naturalidade" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="anoObito" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="endereco09">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="indOrigemEndereco" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="cep" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="uf" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="codMunicipio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="codTipoLogradouro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="logradouro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="numLogradouro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="complementoLogradouro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="bairro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="distrito" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="referencia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="cidadeExterior" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="codPais" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="retornoWS11Redesim">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="codServico" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="versao" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="numeroProtocolo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="numeroOcorrencia" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="codEvento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="reciboSolicitacao" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="identificacaoSolicitacao" type="s:string" />
          <s:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="dadosCNPJ" type="s1:dadosCNPJ" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="dadosCNPJ">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="cnpj" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="nomeEmpresarial" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="indMatrizFilial" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="dataAberturaEstabelecimento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="dataAberturaEmpresa" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="situacaoCadastral" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="endereco" type="s1:endereco" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="objetoSocial" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="naturezaJuridica" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="numeroOrgaoRegistro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="capitalSocial" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="cpfRepresentante" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="nomeRepresentante" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="qualificacaoRepresentante" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="porte" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="opcaoSimplesNacional" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="opcaoSimei" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="cnaePrincipal" type="s:string" />
          <s:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="cnaeSecundaria" nillable="true" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="tipoUnidade" type="s:string" />
          <s:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="formaAtuacao" type="s:string" />
          <s:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="cnpjFilial" type="s:string" />
          <s:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="ufFilial" type="s:string" />
          <s:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="numeroRegistroFilial" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="cnpjMatriz" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="ufMatriz" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="numeroRegistroMatriz" type="s:string" />
          <s:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="dadosSocio" nillable="true" type="s1:dadosSocio" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="endereco">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="indOrigemEndereco" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="cep" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="uf" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="codMunicipio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="codTipoLogradouro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="logradouro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="numLogradouro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="complementoLogradouro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="bairro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="distrito" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="referencia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="cidadeExterior" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="codPais" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="dadosSocio">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="cpfCnpj" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="nome" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="qualificacao" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="dataInclusao" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="valorPartCapitalSocialString" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="paisOrigem" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="cpfRepresentanteLegal" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="nomeRepresentanteLegal" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="qualificacaoRepresentanteLegal" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://servicos.integrador.serpro.gov.br">
      <s:complexType name="serviceResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="return" type="s2:retornoWS" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="dadosRedesim" type="s2:redesim" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="retornoWS">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="statusEnvio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="codigoRetorno" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="descricaoRetorno" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="numIdentificacaoTransmissao" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="redesim">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="convenio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="cnpj" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="orgaoResponsavelDeferimento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="numAtoOficio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="codConvenioAtoOficio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="numViabilidadeAssociada" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="header" type="s2:header" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="fcpj" type="s2:fcpj" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="atividadeEconomica" type="s2:ativEcon" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="simplesNacional" type="s2:simplesNacional" />
          <s:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="socios" nillable="true" type="s2:socio" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="header">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="controleAtoOficio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="inCpfCnpjCertificado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="cpfCnpjCertificado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="subjectCertificado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="acCertificado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="dataEmissaoCertificado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="dataExpiracaoCertificado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="numSerieCertificado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="extensao1Certificado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="extensao2Certificado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="extensao3Certificado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="ufOrigem" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="codMunicOrigem" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="fcpj">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="codEvento" nillable="true" type="s:string" />
          <s:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="dataEvento" nillable="true" type="s:string" />
          <s:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="tipoEvento" nillable="true" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="inMatriz" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="nomeEmpresarial" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="nomeFantasia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="codNaturezaJuridica" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="codTipoOrgaoRegistro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="nire" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="numeroRegistroCartorio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="numeroDoCNPJOrgaoRegistro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="arquivamento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="capitalSocial" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="cnpjEstabMatriz" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="codEnteFederativo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="nomeResponsavel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="cpfResponsavel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="codQualificResponsavel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="nomePreposto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="cpfPreposto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="endereco" type="s2:endereco" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="contato" type="s2:contato" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="caixaPostal" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="cepCaixaPostal" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="codPorteEmpresa" type="s:string" />
          <s:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="cnpjSucessora" nillable="true" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="codClassificCRCcontadorPF" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="ufContadorPF" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="numSeqContadorPF" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="codTipoCRCcontadorPF" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="cpfContadorPF" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="nomeContadorPF" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="dataRegistroCRCcontadorPF" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="idContadorPF" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="orgaoEmissorIdContadorPF" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="ufOrgaoEmissorIdContadorPF" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="dataEmissaoIdContadorPF" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="codClassificEmpresaContabil" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="ufCRCempresaContabil" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="seqCRCempresaContabil" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="codTipoCRCempresaContabil" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="cnpjEmpresaContabil" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="nomeEmpresaContabil" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="inPermanencialivrosFiscais" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="inOpcaoLivrosEletronicos" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="inOpcaoDocumentosEletronicos" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="inProcessamentoEletronicoDados" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="inUtilizacaoECF" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="codVinculoImovel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="dataValidadeInscricao" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="nirf" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="nomeProprietarioRural" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="inCpfCnpjProprietario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="cpfCnpjProprietarioRural" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="inscricaoEstadualAnteriorProdutorRural" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="codLocalizacaoImovel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="numIncraProprietario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="inscricaoImobiliariaImovelRural" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="areaImovel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="inAbrangenciaMunic" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="codMotivoSituacaoCadastral" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="dataDocumentoInaptidao" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="numDocumentoInaptidao" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="endResponsavel" type="s2:endereco" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="contatoResponsavel" type="s2:contato" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="endPreposto" type="s2:endereco" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="contatoPreposto" type="s2:contato" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="endContadorPf" type="s2:endereco" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="contatoContadorPf" type="s2:contato" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="endProprietarioRuralPf" type="s2:endereco" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="contatoProprietarioRuralPf" type="s2:contato" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="endEmpresaContabilComplementar" type="s2:endereco" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="contatoEmpresaContabilComplementar" type="s2:contato" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="inCpfCnpjProprietarioCafir" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="cpfCnpjProprietarioCafir" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="codSitCadProprietarioComplementar" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="codMotivoSitCadProprietarioComplementar" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="areaImovelComplementar" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="nomeImovelComplementar" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="endProprietarioComplementar" type="s2:endereco" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="contatoProprietarioComplementar" type="s2:contato" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="instrumentoJudicial" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="inOpcaoSimples" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="tipoEstatal" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="inInscricaoMEI" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="nire246" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="motivoInexistenciaRegistro" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="endereco">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="indOrigemEndereco" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="cep" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="uf" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="codMunicipio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="codTipoLogradouro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="logradouro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="numLogradouro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="complementoLogradouro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="bairro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="distrito" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="referencia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="cidadeExterior" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="codPais" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="contato">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="dddTelefone1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="telefone1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="dddTelefone2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="telefone2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="dddFax" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="fax" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="correioEletronico" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ativEcon">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="codCnaeFiscal" type="s:string" />
          <s:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="codCnaeSecundaria" nillable="true" type="s:string" />
          <s:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="codFormaDeAtuacao" nillable="true" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="codTipoUnidade" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="objetoSocial" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="simplesNacional">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="indicadorSimplesNacional" type="s:string" />
          <s:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="periodoSimples" nillable="true" type="s2:periodo" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="indicadorMei" type="s:string" />
          <s:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="periodoMei" nillable="true" type="s2:periodo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="periodo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="dataInclusao" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="dataExclusao" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="socio">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="indTipoContribuinte" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="codEvento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="dataEvento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="indCnpjCpfSocio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="cnpjCpfSocio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="socio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="percentualCapitalSocialSocio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="capitalSocialSocio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="codQualificacaoSocio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="codPais" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="nacionalidadeSocioPf" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="dataInclusaoIncorreta" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="dataInclusaoCorreta" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="endSocio" type="s2:endereco" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="contatoSocio" type="s2:contato" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="representanteLegal" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="codQualificacaoRepresentanteLegal" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="cpfRepresentanteLegal" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="endRepLegal" type="s2:endereco" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="contatoRepLegal" type="s2:contato" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ServiceWs01SoapIn">
    <wsdl:part name="parameters" element="tns:ServiceWs01" />
  </wsdl:message>
  <wsdl:message name="ServiceWs01SoapOut">
    <wsdl:part name="parameters" element="tns:ServiceWs01Response" />
  </wsdl:message>
  <wsdl:message name="ServiceWs02SoapIn">
    <wsdl:part name="parameters" element="tns:ServiceWs02" />
  </wsdl:message>
  <wsdl:message name="ServiceWs02SoapOut">
    <wsdl:part name="parameters" element="tns:ServiceWs02Response" />
  </wsdl:message>
  <wsdl:message name="ProcessaEnviaViabilidadeMudancaStatusRFBSoapIn">
    <wsdl:part name="parameters" element="tns:ProcessaEnviaViabilidadeMudancaStatusRFB" />
  </wsdl:message>
  <wsdl:message name="ProcessaEnviaViabilidadeMudancaStatusRFBSoapOut">
    <wsdl:part name="parameters" element="tns:ProcessaEnviaViabilidadeMudancaStatusRFBResponse" />
  </wsdl:message>
  <wsdl:message name="EnviaWsReceitaFederalServico02SoapIn">
    <wsdl:part name="parameters" element="tns:EnviaWsReceitaFederalServico02" />
  </wsdl:message>
  <wsdl:message name="EnviaWsReceitaFederalServico02SoapOut">
    <wsdl:part name="parameters" element="tns:EnviaWsReceitaFederalServico02Response" />
  </wsdl:message>
  <wsdl:message name="ProcessaEnviaViabilidadeRFBSoapIn">
    <wsdl:part name="parameters" element="tns:ProcessaEnviaViabilidadeRFB" />
  </wsdl:message>
  <wsdl:message name="ProcessaEnviaViabilidadeRFBSoapOut">
    <wsdl:part name="parameters" element="tns:ProcessaEnviaViabilidadeRFBResponse" />
  </wsdl:message>
  <wsdl:message name="EnviaWsReceitaFederalSoapIn">
    <wsdl:part name="parameters" element="tns:EnviaWsReceitaFederal" />
  </wsdl:message>
  <wsdl:message name="EnviaWsReceitaFederalSoapOut">
    <wsdl:part name="parameters" element="tns:EnviaWsReceitaFederalResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceXMLDBESoapIn">
    <wsdl:part name="parameters" element="tns:ServiceXMLDBE" />
  </wsdl:message>
  <wsdl:message name="ServiceXMLDBESoapOut">
    <wsdl:part name="parameters" element="tns:ServiceXMLDBEResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceWs35SoarquivoSoapIn">
    <wsdl:part name="parameters" element="tns:ServiceWs35Soarquivo" />
  </wsdl:message>
  <wsdl:message name="ServiceWs35SoarquivoSoapOut">
    <wsdl:part name="parameters" element="tns:ServiceWs35SoarquivoResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceWs35ReginSoapIn">
    <wsdl:part name="parameters" element="tns:ServiceWs35Regin" />
  </wsdl:message>
  <wsdl:message name="ServiceWs35ReginSoapOut">
    <wsdl:part name="parameters" element="tns:ServiceWs35ReginResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceWs35SoapIn">
    <wsdl:part name="parameters" element="tns:ServiceWs35" />
  </wsdl:message>
  <wsdl:message name="ServiceWs35SoapOut">
    <wsdl:part name="parameters" element="tns:ServiceWs35Response" />
  </wsdl:message>
  <wsdl:message name="ServiceWs05SoapIn">
    <wsdl:part name="parameters" element="tns:ServiceWs05" />
  </wsdl:message>
  <wsdl:message name="ServiceWs05SoapOut">
    <wsdl:part name="parameters" element="tns:ServiceWs05Response" />
  </wsdl:message>
  <wsdl:message name="ServiceWs05V2SoapIn">
    <wsdl:part name="parameters" element="tns:ServiceWs05V2" />
  </wsdl:message>
  <wsdl:message name="ServiceWs05V2SoapOut">
    <wsdl:part name="parameters" element="tns:ServiceWs05V2Response" />
  </wsdl:message>
  <wsdl:message name="ServiceWs06SoapIn">
    <wsdl:part name="parameters" element="tns:ServiceWs06" />
  </wsdl:message>
  <wsdl:message name="ServiceWs06SoapOut">
    <wsdl:part name="parameters" element="tns:ServiceWs06Response" />
  </wsdl:message>
  <wsdl:message name="ServiceWs09SoapIn">
    <wsdl:part name="parameters" element="tns:ServiceWs09" />
  </wsdl:message>
  <wsdl:message name="ServiceWs09SoapOut">
    <wsdl:part name="parameters" element="tns:ServiceWs09Response" />
  </wsdl:message>
  <wsdl:message name="ServiceWs11SoapIn">
    <wsdl:part name="parameters" element="tns:ServiceWs11" />
  </wsdl:message>
  <wsdl:message name="ServiceWs11SoapOut">
    <wsdl:part name="parameters" element="tns:ServiceWs11Response" />
  </wsdl:message>
  <wsdl:message name="CompletaWs11SoapIn">
    <wsdl:part name="parameters" element="tns:CompletaWs11" />
  </wsdl:message>
  <wsdl:message name="CompletaWs11SoapOut">
    <wsdl:part name="parameters" element="tns:CompletaWs11Response" />
  </wsdl:message>
  <wsdl:message name="CompletaDadosReginSoapIn">
    <wsdl:part name="parameters" element="tns:CompletaDadosRegin" />
  </wsdl:message>
  <wsdl:message name="CompletaDadosReginSoapOut">
    <wsdl:part name="parameters" element="tns:CompletaDadosReginResponse" />
  </wsdl:message>
  <wsdl:message name="CompletaDadosReginOracleSoapIn">
    <wsdl:part name="parameters" element="tns:CompletaDadosReginOracle" />
  </wsdl:message>
  <wsdl:message name="CompletaDadosReginOracleSoapOut">
    <wsdl:part name="parameters" element="tns:CompletaDadosReginOracleResponse" />
  </wsdl:message>
  <wsdl:message name="CompletaGravaDadosWs11OracleSoapIn">
    <wsdl:part name="parameters" element="tns:CompletaGravaDadosWs11Oracle" />
  </wsdl:message>
  <wsdl:message name="CompletaGravaDadosWs11OracleSoapOut">
    <wsdl:part name="parameters" element="tns:CompletaGravaDadosWs11OracleResponse" />
  </wsdl:message>
  <wsdl:message name="ProcessaDadosServico99SoapIn">
    <wsdl:part name="parameters" element="tns:ProcessaDadosServico99" />
  </wsdl:message>
  <wsdl:message name="ProcessaDadosServico99SoapOut">
    <wsdl:part name="parameters" element="tns:ProcessaDadosServico99Response" />
  </wsdl:message>
  <wsdl:portType name="ServiceReginRFBSoap">
    <wsdl:operation name="ServiceWs01">
      <wsdl:input message="tns:ServiceWs01SoapIn" />
      <wsdl:output message="tns:ServiceWs01SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ServiceWs02">
      <wsdl:input message="tns:ServiceWs02SoapIn" />
      <wsdl:output message="tns:ServiceWs02SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ProcessaEnviaViabilidadeMudancaStatusRFB">
      <wsdl:input message="tns:ProcessaEnviaViabilidadeMudancaStatusRFBSoapIn" />
      <wsdl:output message="tns:ProcessaEnviaViabilidadeMudancaStatusRFBSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EnviaWsReceitaFederalServico02">
      <wsdl:input message="tns:EnviaWsReceitaFederalServico02SoapIn" />
      <wsdl:output message="tns:EnviaWsReceitaFederalServico02SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ProcessaEnviaViabilidadeRFB">
      <wsdl:input message="tns:ProcessaEnviaViabilidadeRFBSoapIn" />
      <wsdl:output message="tns:ProcessaEnviaViabilidadeRFBSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EnviaWsReceitaFederal">
      <wsdl:input message="tns:EnviaWsReceitaFederalSoapIn" />
      <wsdl:output message="tns:EnviaWsReceitaFederalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ServiceXMLDBE">
      <wsdl:input message="tns:ServiceXMLDBESoapIn" />
      <wsdl:output message="tns:ServiceXMLDBESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ServiceWs35Soarquivo">
      <wsdl:input message="tns:ServiceWs35SoarquivoSoapIn" />
      <wsdl:output message="tns:ServiceWs35SoarquivoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ServiceWs35Regin">
      <wsdl:input message="tns:ServiceWs35ReginSoapIn" />
      <wsdl:output message="tns:ServiceWs35ReginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ServiceWs35">
      <wsdl:input message="tns:ServiceWs35SoapIn" />
      <wsdl:output message="tns:ServiceWs35SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ServiceWs05">
      <wsdl:input message="tns:ServiceWs05SoapIn" />
      <wsdl:output message="tns:ServiceWs05SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ServiceWs05V2">
      <wsdl:input message="tns:ServiceWs05V2SoapIn" />
      <wsdl:output message="tns:ServiceWs05V2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ServiceWs06">
      <wsdl:input message="tns:ServiceWs06SoapIn" />
      <wsdl:output message="tns:ServiceWs06SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ServiceWs09">
      <wsdl:input message="tns:ServiceWs09SoapIn" />
      <wsdl:output message="tns:ServiceWs09SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ServiceWs11">
      <wsdl:input message="tns:ServiceWs11SoapIn" />
      <wsdl:output message="tns:ServiceWs11SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CompletaWs11">
      <wsdl:input message="tns:CompletaWs11SoapIn" />
      <wsdl:output message="tns:CompletaWs11SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CompletaDadosRegin">
      <wsdl:input message="tns:CompletaDadosReginSoapIn" />
      <wsdl:output message="tns:CompletaDadosReginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CompletaDadosReginOracle">
      <wsdl:input message="tns:CompletaDadosReginOracleSoapIn" />
      <wsdl:output message="tns:CompletaDadosReginOracleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CompletaGravaDadosWs11Oracle">
      <wsdl:input message="tns:CompletaGravaDadosWs11OracleSoapIn" />
      <wsdl:output message="tns:CompletaGravaDadosWs11OracleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ProcessaDadosServico99">
      <wsdl:input message="tns:ProcessaDadosServico99SoapIn" />
      <wsdl:output message="tns:ProcessaDadosServico99SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceReginRFBSoap" type="tns:ServiceReginRFBSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ServiceWs01">
      <soap:operation soapAction="http://tempuri.org/ServiceWs01" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceWs02">
      <soap:operation soapAction="http://tempuri.org/ServiceWs02" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessaEnviaViabilidadeMudancaStatusRFB">
      <soap:operation soapAction="http://tempuri.org/ProcessaEnviaViabilidadeMudancaStatusRFB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviaWsReceitaFederalServico02">
      <soap:operation soapAction="http://tempuri.org/EnviaWsReceitaFederalServico02" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessaEnviaViabilidadeRFB">
      <soap:operation soapAction="http://tempuri.org/ProcessaEnviaViabilidadeRFB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviaWsReceitaFederal">
      <soap:operation soapAction="http://tempuri.org/EnviaWsReceitaFederal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceXMLDBE">
      <soap:operation soapAction="http://tempuri.org/ServiceXMLDBE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceWs35Soarquivo">
      <soap:operation soapAction="http://tempuri.org/ServiceWs35Soarquivo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceWs35Regin">
      <soap:operation soapAction="http://tempuri.org/ServiceWs35Regin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceWs35">
      <soap:operation soapAction="http://tempuri.org/ServiceWs35" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceWs05">
      <soap:operation soapAction="http://tempuri.org/ServiceWs05" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceWs05V2">
      <soap:operation soapAction="http://tempuri.org/ServiceWs05V2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceWs06">
      <soap:operation soapAction="http://tempuri.org/ServiceWs06" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceWs09">
      <soap:operation soapAction="http://tempuri.org/ServiceWs09" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceWs11">
      <soap:operation soapAction="http://tempuri.org/ServiceWs11" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompletaWs11">
      <soap:operation soapAction="http://tempuri.org/CompletaWs11" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompletaDadosRegin">
      <soap:operation soapAction="http://tempuri.org/CompletaDadosRegin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompletaDadosReginOracle">
      <soap:operation soapAction="http://tempuri.org/CompletaDadosReginOracle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompletaGravaDadosWs11Oracle">
      <soap:operation soapAction="http://tempuri.org/CompletaGravaDadosWs11Oracle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessaDadosServico99">
      <soap:operation soapAction="http://tempuri.org/ProcessaDadosServico99" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceReginRFBSoap12" type="tns:ServiceReginRFBSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ServiceWs01">
      <soap12:operation soapAction="http://tempuri.org/ServiceWs01" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceWs02">
      <soap12:operation soapAction="http://tempuri.org/ServiceWs02" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessaEnviaViabilidadeMudancaStatusRFB">
      <soap12:operation soapAction="http://tempuri.org/ProcessaEnviaViabilidadeMudancaStatusRFB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviaWsReceitaFederalServico02">
      <soap12:operation soapAction="http://tempuri.org/EnviaWsReceitaFederalServico02" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessaEnviaViabilidadeRFB">
      <soap12:operation soapAction="http://tempuri.org/ProcessaEnviaViabilidadeRFB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviaWsReceitaFederal">
      <soap12:operation soapAction="http://tempuri.org/EnviaWsReceitaFederal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceXMLDBE">
      <soap12:operation soapAction="http://tempuri.org/ServiceXMLDBE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceWs35Soarquivo">
      <soap12:operation soapAction="http://tempuri.org/ServiceWs35Soarquivo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceWs35Regin">
      <soap12:operation soapAction="http://tempuri.org/ServiceWs35Regin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceWs35">
      <soap12:operation soapAction="http://tempuri.org/ServiceWs35" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceWs05">
      <soap12:operation soapAction="http://tempuri.org/ServiceWs05" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceWs05V2">
      <soap12:operation soapAction="http://tempuri.org/ServiceWs05V2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceWs06">
      <soap12:operation soapAction="http://tempuri.org/ServiceWs06" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceWs09">
      <soap12:operation soapAction="http://tempuri.org/ServiceWs09" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceWs11">
      <soap12:operation soapAction="http://tempuri.org/ServiceWs11" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompletaWs11">
      <soap12:operation soapAction="http://tempuri.org/CompletaWs11" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompletaDadosRegin">
      <soap12:operation soapAction="http://tempuri.org/CompletaDadosRegin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompletaDadosReginOracle">
      <soap12:operation soapAction="http://tempuri.org/CompletaDadosReginOracle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompletaGravaDadosWs11Oracle">
      <soap12:operation soapAction="http://tempuri.org/CompletaGravaDadosWs11Oracle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessaDadosServico99">
      <soap12:operation soapAction="http://tempuri.org/ProcessaDadosServico99" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceReginRFB">
    <wsdl:port name="ServiceReginRFBSoap" binding="tns:ServiceReginRFBSoap">
      <soap:address location="http://localhost/ES/WsRFBRegin/ServiceReginRFB.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceReginRFBSoap12" binding="tns:ServiceReginRFBSoap12">
      <soap12:address location="http://localhost/ES/WsRFBRegin/ServiceReginRFB.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>