DeferidorWeb/App_WebReferences/RCPJRJ_WSProcesso/RCPJ.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="http://consulta.rcpjrj.com.br/query/call/soap" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RCPJ" targetNamespace="http://consulta.rcpjrj.com.br/query/call/soap" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://consulta.rcpjrj.com.br/query/call/soap">
      <xsd:element name="getProcesso">
        <xsd:complexType>
          <xsd:all>
            <xsd:element name="codProtocolo" type="xsd:string" />
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getProcessoResponse">
        <xsd:complexType>
          <xsd:all>
            <xsd:element name="processo" type="xsd:string" />
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getProcessoInput">
    <wsdl:part name="parameters" element="tns:getProcesso" />
  </wsdl:message>
  <wsdl:message name="getProcessoOutput">
    <wsdl:part name="parameters" element="tns:getProcessoResponse" />
  </wsdl:message>
  <wsdl:portType name="RCPJPortType">
    <wsdl:operation name="getProcesso">
      <wsdl:input message="tns:getProcessoInput" />
      <wsdl:output message="tns:getProcessoOutput" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RCPJBinding" type="tns:RCPJPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getProcesso">
      <soap:operation soapAction="http://consulta.rcpjrj.com.br/query/call/soapgetProcesso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RCPJService">
    <wsdl:documentation>
    </wsdl:documentation>
    <wsdl:port name="RCPJ" binding="tns:RCPJBinding">
      <soap:address location="http://consulta.rcpjrj.com.br/query/call/soap" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>